<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuQJiDKejBB1c3Bamex1zapLP2ujhWqfU</string>
	<key>GCM_SENDER_ID</key>
	<string>317728607916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blazejkowal.KiteRentApp</string>
	<key>PROJECT_ID</key>
	<string>kiterentapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kiterentapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:317728607916:ios:8e640911b6b7386cfe5909</string>
</dict>
</plist>
